# Firebase Configuration

VITE_FIREBASE_API_KEY="AIzaSyBEuRimeUGNsTmn8QeeoBIxrgy3UGG3ShA"
VITE_FIREBASE_AUTH_DOMAIN="one-jump-cc51f.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="one-jump-cc51f"
VITE_FIREBASE_STORAGE_BUCKET="one-jump-cc51f.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="288165801035"
VITE_FIREBASE_APP_ID="1:288165801035:web:d76426f1bf7a7bdc07f1ce"
